.complete{
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   background-color: transparent;
   border-style: none;
   font-size: 120%;
}

.labelconsulta {
  color: black;
    font-size: medium;
    font-weight: bold;
    min-width: 150px;
    /* margin: 5px; */
    align-content: center;
    height: 30px;
}

.tituloconsulta {
  color: black;
    font-size: large;
    font-weight: bold;
    min-width: 150px;
    align-content: center;
}

.nombreconsulta{
    font-size: medium;
    font-weight:normal;
    align-content: center;
    min-width: 200px;
}

.infoconsultatarjeta{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.contenedordetailconsulta {
  background-color: lightgray;
  opacity: 0.85;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  min-width: 320px;
  min-height: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}