.contenedorlitigios{
  background-color: white;
  opacity: 0.85;
  border-radius: 10px;
  padding: 10px;
  height: 90vh;
  width: 70vw;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado{
  width: 300px;
}

.registrocliente{
  display: flex;
  flex-direction: row;
}

   .divabogados{
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(20px, auto);
   }

   .inputfiltros {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: transparent;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.paginaabogados{
  border-radius: 3px;
  padding: 3px;
  margin: 8px;
  background-color: rgb(81, 115, 238, 0.75);
  color: black;
  /* height: 25x; */
  min-width: 90px;
  font-weight: bold;
}